Repository architect-team/arcctl: changes, and which Codecov flags are due for each by the changed paths.
All: graph, pipeline, components, environments, datacenters, component-store, state

Test ignoring commands besides base-command
  codecov.yml
Due: none

Update components with new paths for graph and adding hcl parser
  codecov.yml
Due: none

Update codecov (#191)
  codecov.yml
Due: none

Add ttl field to the module, set on gcp databaseUser as an example, rerun otherwise no-op modules when TTL is set and has expired
  deno.lock
  examples/datacenters/gcp/datacenter.arc
  src/datacenters/datacenter-schema.ts
  src/datacenters/datacenter.schema.json
  src/datacenters/schema.ts
  src/datacenters/v1/__tests__/datacenter.test.ts
  src/datacenters/v1/index.ts
  src/datacenters/v1/schema.json
  src/graphs/infra/graph.ts
  src/graphs/infra/node.ts
Due: datacenters

Fix formatting
  deno.lock
  src/datacenters/datacenter-schema.ts
  src/datacenters/schema.ts
Due: datacenters

Update deno.lock, weird cache failure in GH action
  deno.lock
Due: none

Add concurrency flag to commands that run apply, support currently running multiple apply nodes within the datacenter apply function
  deno.lock
  src/commands/apply/datacenter.ts
  src/commands/common/datacenter.ts
  src/commands/common/environment.ts
  src/commands/deploy.ts
  src/commands/destroy/datacenter.ts
  src/commands/destroy/environment.ts
  src/graphs/infra/graph.ts
  src/graphs/infra/node.ts
  src/graphs/infra/types.ts
Due: none

Update destroy environment function to pass in concurrency option
  deno.lock
  src/commands/destroy/datacenter.ts
Due: none

Added support for static buckets
  deno.lock
  examples/datacenters/local/datacenter.arc
  src/@resources/bucket/README.md
  src/@resources/bucket/inputs.schema.json
  src/@resources/bucket/inputs.ts
  src/@resources/bucket/outputs.schema.json
  src/@resources/bucket/outputs.ts
  src/@resources/ingress/inputs.schema.json
  src/@resources/ingress/inputs.ts
  src/@resources/task/inputs.schema.json
  src/@resources/task/inputs.ts
  src/@resources/task/outputs.schema.json
  src/@resources/task/outputs.ts
  src/@resources/types.ts
  src/@resources/volume/inputs.schema.json
  src/@resources/volume/inputs.ts
  src/@resources/volume/outputs.schema.json
  src/@resources/volume/outputs.ts
  src/commands/build/component.ts
  src/commands/tag.ts
  src/components/__tests__/version-helper.ts
  src/components/component-schema.ts
  src/components/component.schema.json
  src/components/component.ts
  src/components/schema.ts
  src/components/v1/__tests__/index.test.ts
  src/components/v1/index.ts
  src/components/v2/__tests__/index.test.ts
  src/components/v2/bucket.ts
  src/components/v2/container.ts
  src/components/v2/deployment.ts
  src/components/v2/index.ts
  src/components/v2/schema.json
  src/datacenters/datacenter-schema.ts
  src/datacenters/datacenter.schema.json
  src/datacenters/schema.ts
  src/datacenters/v1/__tests__/datacenter.test.ts
  src/datacenters/v1/schema.json
  src/environments/environment-schema.ts
  src/environments/schema.ts
Due: components, environments, datacenters

Default datacenter for `up` command (#189)
  deno.lock
  src/commands/apply/utils.ts
  src/commands/destroy/datacenter.ts
  src/commands/set/default-datacenter.ts
  src/commands/set/index.ts
  src/commands/up.ts
  src/utils/config.ts
Due: none

Added quotes around ttl example to help with parsing
  src/datacenters/v1/index.ts
Due: datacenters

Adding module TTL (#192)
  deno.lock
  examples/datacenters/gcp/datacenter.arc
  src/datacenters/datacenter-schema.ts
  src/datacenters/datacenter.schema.json
  src/datacenters/v1/__tests__/datacenter.test.ts
  src/datacenters/v1/index.ts
  src/datacenters/v1/schema.json
  src/graphs/infra/graph.ts
  src/graphs/infra/node.ts
Due: datacenters

Changed default concurrency to 10
  src/commands/deploy.ts
  src/graphs/infra/graph.ts
Due: none

Added concurrency flag to apply/deploy/destroy commands (#193)
  src/commands/apply/datacenter.ts
  src/commands/common/datacenter.ts
  src/commands/common/environment.ts
  src/commands/deploy.ts
  src/commands/destroy/datacenter.ts
  src/commands/destroy/environment.ts
  src/graphs/infra/graph.ts
  src/graphs/infra/node.ts
  src/graphs/infra/types.ts
Due: none

WIP: got static buckets working
  deno.lock
  examples/datacenters/local/datacenter.arc
  examples/datacenters/local/deployment/index.ts
  examples/datacenters/local/network/index.ts
  src/commands/apply/datacenter.ts
  src/commands/apply/environment.ts
  src/commands/apply/utils.ts
  src/components/v2/index.ts
Due: components

Fixed formatting
  deno.lock
  src/@resources/bucket/README.md
  src/@resources/task/outputs.schema.json
  src/@resources/task/outputs.ts
  src/@resources/types.ts
  src/components/component-schema.ts
  src/components/schema.ts
  src/datacenters/datacenter-schema.ts
  src/datacenters/schema.ts
  src/environments/environment-schema.ts
  src/environments/schema.ts
Due: components, environments, datacenters

Fixed issues with environment confirmation during datacenter applies
  deno.lock
  examples/datacenters/local/datacenter.arc
  examples/datacenters/local/deployment/index.ts
  examples/datacenters/local/network/index.ts
  src/@resources/volume/outputs.schema.json
  src/@resources/volume/outputs.ts
  src/commands/apply/datacenter.ts
  src/commands/apply/environment.ts
  src/commands/apply/utils.ts
  src/commands/tag.ts
  src/components/component.ts
  src/components/v1/index.ts
  src/components/v2/index.ts
  src/datacenters/datacenter-schema.ts
  src/datacenters/datacenter.schema.json
  src/datacenters/v1/schema.json
Due: components, datacenters

Added webapp resource type, added support for components, envs, and datacenters
  .vscode/settings.json
  deno.lock
  examples/datacenters/local/.vscode/settings.json
  examples/datacenters/local/datacenter.arc
  examples/datacenters/local/volume/Pulumi.dev.yaml
  examples/datacenters/local/webapp/.dockerignore
  examples/datacenters/local/webapp/.gitignore
  examples/datacenters/local/webapp/Dockerfile
  examples/datacenters/local/webapp/Pulumi.yaml
  examples/datacenters/local/webapp/index.ts
  examples/datacenters/local/webapp/package.json
  examples/datacenters/local/webapp/tsconfig.json
  src/@resources/types.ts
  src/@resources/webapp/inputs.schema.json
  src/@resources/webapp/inputs.ts
  src/@resources/webapp/outputs.schema.json
  src/@resources/webapp/outputs.ts
  src/commands/common/datacenter.ts
  src/components/component-schema.ts
  src/components/component.schema.json
  src/components/schema.ts
  src/components/v2/index.ts
  src/components/v2/schema.json
  src/components/v2/webapp.ts
  src/datacenters/datacenter-schema.ts
  src/datacenters/datacenter.schema.json
  src/datacenters/schema.ts
  src/datacenters/v1/index.ts
  src/datacenters/v1/schema.json
  src/environments/environment-schema.ts
  src/environments/environment.schema.json
  src/environments/schema.ts
  src/environments/v1/index.ts
  src/environments/v1/schema.json
Due: components, environments, datacenters

WIP: almost got webapps working
  deno.lock
  examples/datacenters/local/datacenter.arc
  import_map.json
  src/@resources/webapp/inputs.schema.json
  src/@resources/webapp/outputs.schema.json
  src/@resources/webapp/outputs.ts
  src/commands/common/datacenter.ts
  src/components/v2/index.ts
  src/datacenters/datacenter-schema.ts
  src/datacenters/datacenter.schema.json
  src/datacenters/datacenter.ts
  src/datacenters/v1/index.ts
  src/datacenters/v1/schema.json
  src/graphs/infra/graph.ts
Due: components, datacenters

Finally got deployments working by skipping pulumi config and using env vars
  examples/datacenters/local/datacenter.arc
  examples/datacenters/local/deployment/Dockerfile
  examples/datacenters/local/deployment/Pulumi.module.yaml
  examples/datacenters/local/deployment/index.ts
  examples/datacenters/local/deployment/module.yml
  examples/datacenters/local/docker-build/index.ts
  examples/datacenters/local/docker-build/module.yml
  examples/datacenters/local/md5docker.sh
  examples/datacenters/local/network/index.ts
  examples/datacenters/local/network/module.yml
  examples/datacenters/local/secret/module.yml
  examples/datacenters/local/volume/index.ts
  examples/datacenters/local/volume/module.yml
  src/commands/deploy.ts
  src/graphs/infra/node.ts
  src/utils/docker.ts
Due: none

Fixed an issue with the datacenter cleanup
  examples/datacenters/local/datacenter.arc
  examples/datacenters/local/postgres-db/module.yml
  src/graphs/infra/node.ts
Due: none

Added concurrency support to other commands and fixed tofu outputs
  examples/datacenters/local/datacenter.arc
  examples/datacenters/local/postgres-db/Dockerfile
  examples/datacenters/local/postgres-db/main.tf
  examples/datacenters/local/postgres-db/module.yml
  examples/datacenters/local/secret/Dockerfile
  examples/datacenters/local/secret/module.yml
  src/commands/destroy/datacenter.ts
  src/commands/destroy/environment.ts
  src/commands/remove.ts
  src/graphs/infra/node.ts
  src/utils/docker.ts
Due: none

Got docker builds working
  examples/datacenters/local/build/.dockerignore
  examples/datacenters/local/build/.terraform.lock.hcl
  examples/datacenters/local/build/Dockerfile
  examples/datacenters/local/build/main.tf
  examples/datacenters/local/build/module.yml
  examples/datacenters/local/datacenter.arc
  examples/datacenters/local/deployment/Dockerfile
  examples/datacenters/local/docker-build/Dockerfile
  examples/datacenters/local/docker-build/index.ts
  src/@resources/dockerBuild/README.md
  src/@resources/dockerBuild/inputs.schema.json
  src/@resources/dockerBuild/inputs.ts
  src/@resources/dockerBuild/outputs.schema.json
  src/@resources/dockerBuild/outputs.ts
  src/components/v1/__tests__/index.test.ts
  src/components/v1/index.ts
  src/components/v2/__tests__/index.test.ts
  src/components/v2/index.ts
  src/graphs/infra/node.ts
Due: components

minor improvements to ux when graphs require no changes
  src/commands/common/infra-renderer.ts
  src/commands/destroy/datacenter.ts
Due: none

Fixed some issues with twitter clone example
  examples/datacenters/local/build/.terraform.lock.hcl
  examples/datacenters/local/build/Dockerfile
  examples/datacenters/local/datacenter.arc
  examples/datacenters/local/deployment/index.ts
  examples/datacenters/local/deployment/module.yml
  src/commands/deploy.ts
  src/components/v1/index.ts
  src/components/v2/index.ts
  src/environments/environment.ts
  src/environments/v1/index.ts
  src/graphs/infra/node.ts
Due: components, environments

Fixed issues with failing deployment
  examples/datacenters/local/deployment/Dockerfile
  examples/datacenters/local/deployment/index.ts
Due: none

Re-added rm flag to infra applications
  src/graphs/infra/node.ts
Due: none

Fixed gcp datacenter and added depends_on feature to datacenter modules
  examples/datacenters/gcp/database/.dockerignore
  examples/datacenters/gcp/database/index.ts
  examples/datacenters/gcp/databaseCluster/.dockerignore
  examples/datacenters/gcp/databaseCluster/index.ts
  examples/datacenters/gcp/databaseUser/__main__.py
  examples/datacenters/gcp/datacenter.arc
  examples/datacenters/gcp/dnsRecord/.dockerignore
  examples/datacenters/gcp/dnsRecord/index.ts
  examples/datacenters/gcp/gateway/.dockerignore
  examples/datacenters/gcp/gceDeployment/.dockerignore
  examples/datacenters/gcp/gceService/.dockerignore
  examples/datacenters/gcp/helm-chart/Dockerfile
  examples/datacenters/gcp/helm-chart/index.ts
  examples/datacenters/gcp/ingressRule/.dockerignore
  examples/datacenters/gcp/kubernetesCluster/.dockerignore
  examples/datacenters/gcp/kubernetesCluster/index.ts
  examples/datacenters/gcp/kubernetesDeployment/.dockerignore
  examples/datacenters/gcp/kubernetesDeployment/Dockerfile
  examples/datacenters/gcp/kubernetesDeployment/index.ts
  examples/datacenters/gcp/kubernetesIngress/.dockerignore
  examples/datacenters/gcp/kubernetesNamespace/.dockerignore
  examples/datacenters/gcp/kubernetesService/.dockerignore
  examples/datacenters/gcp/secret/.dockerignore
  examples/datacenters/gcp/serverlessDeployment/.dockerignore
  examples/datacenters/gcp/serverlessService/.dockerignore
  examples/datacenters/gcp/vpc/.dockerignore
  examples/datacenters/gcp/vpc/index.ts
  src/components/v2/__tests__/index.test.ts
  src/datacenters/datacenter-schema.ts
  src/datacenters/datacenter.schema.json
  src/datacenters/v1/index.ts
  src/datacenters/v1/schema.json
  tsconfig.json
Due: components, datacenters

Updated aws k8s datacenter to use new module format
  CODE-OF-CONDUCT.md
  examples/datacenters/aws-k8s/aws-lb-controller/Dockerfile
  examples/datacenters/aws-k8s/aws-lb-controller/index.ts
  examples/datacenters/aws-k8s/aws-lb-controller/module.yml
  examples/datacenters/aws-k8s/database/.dockerignore
  examples/datacenters/aws-k8s/database/Dockerfile
  examples/datacenters/aws-k8s/database/module.yml
  examples/datacenters/aws-k8s/databaseCluster/.dockerignore
  examples/datacenters/aws-k8s/databaseCluster/Dockerfile
  examples/datacenters/aws-k8s/databaseCluster/module.yml
  examples/datacenters/aws-k8s/databaseUser/.dockerignore
  examples/datacenters/aws-k8s/databaseUser/Dockerfile
  examples/datacenters/aws-k8s/databaseUser/module.yml
  examples/datacenters/aws-k8s/datacenter.arc
  examples/datacenters/aws-k8s/dns-record/.dockerignore
  examples/datacenters/aws-k8s/dns-record/Dockerfile
  examples/datacenters/aws-k8s/dns-record/module.yml
  examples/datacenters/aws-k8s/eks-deployment/Dockerfile
  examples/datacenters/aws-k8s/eks-deployment/index.ts
  examples/datacenters/aws-k8s/eks-deployment/module.yml
  examples/datacenters/aws-k8s/eks-namespace/.dockerignore
  examples/datacenters/aws-k8s/eks-namespace/Dockerfile
  examples/datacenters/aws-k8s/eks-namespace/index.ts
  examples/datacenters/aws-k8s/eks-namespace/module.yml
  examples/datacenters/aws-k8s/eks-service/Dockerfile
  examples/datacenters/aws-k8s/eks-service/index.ts
  examples/datacenters/aws-k8s/eks-service/module.yml
  examples/datacenters/aws-k8s/eks/.dockerignore
  examples/datacenters/aws-k8s/eks/Dockerfile
  examples/datacenters/aws-k8s/eks/main.tf
  examples/datacenters/aws-k8s/eks/module.yml
  examples/datacenters/aws-k8s/ingressRule/Dockerfile
  examples/datacenters/aws-k8s/ingressRule/index.ts
  examples/datacenters/aws-k8s/ingressRule/module.yml
  examples/datacenters/aws-k8s/secrets/Dockerfile
  examples/datacenters/aws-k8s/secrets/index.ts
  examples/datacenters/aws-k8s/secrets/module.yml
  examples/datacenters/aws-k8s/vpc/.dockerignore
  examples/datacenters/aws-k8s/vpc/Dockerfile
  examples/datacenters/aws-k8s/vpc/module.yml
Due: none

Path conditions:
  graph: any of: src/cloud-graph, but not: examples, bin, src/commands/**/*.ts
  pipeline: any of: src/pipeline, but not: examples, bin, src/commands/**/*.ts
  components: any of: src/components, but not: examples, bin, src/commands/**/*.ts
  environments: any of: src/environments, but not: examples, bin, src/commands/**/*.ts
  datacenters: any of: src/datacenters, but not: examples, bin, src/commands/**/*.ts
  component-store: any of: src/component-store, src/oci, but not: examples, bin, src/commands/**/*.ts
  state: any of: src/secrets, but not: examples, bin, src/commands/**/*.ts
